<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @contract.place %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contract.name %>
</p>

<p>
  <strong>Nacionality:</strong>
  <%= @contract.nacionality %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @contract.profession %>
</p>

<p>
  <strong>Academy degree:</strong>
  <%= @contract.academy_degree %>
</p>

<p>
  <strong>University:</strong>
  <%= @contract.university %>
</p>

<p>
  <strong>Departament:</strong>
  <%= @contract.departament %>
</p>

<p>
  <strong>Dpi:</strong>
  <%= @contract.dpi %>
</p>

<p>
  <strong>Age:</strong>
  <%= @contract.age %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @contract.marital_status %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contract.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contract.phone %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
